header{
    background-image: linear-gradient(#6D91DE,#96B8FF );
    padding: 12px;
    margin-bottom: 75px;
}

#header h1{
    color: white;
    font-weight: bold;
}

small{
    font-size: 18px;
}

#main{
    margin-bottom: 220px;
}

#card{
    margin-bottom: 40px;
}

#card .card{
    border: solid 1px black;
}

footer{
    background-color: #234899;
}

footer p{
    padding: 10px;
    color: white;
}
footer .text-center{
    margin-bottom: 0px;
}

.video{
    background-color: #96B8FF;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;

    margin-bottom: 120px;
}

.video > iframe{
    position: absolute;
    top: 15%;
    left: 5%;
    width: 90%;
    height: 70%;
}